{{ solutionItems2 }}
<ng-container *ngFor="let solution of solutionItems; let i = index">
  <div
    class="col-sm-4"
    id="divQuote"
    *ngIf="
      i == 0 || (i > 0 && solutionItems[i - 1].uiGroup !== solution.uiGroup)
    "
  >
    <div
      class="panel-group"
      *ngIf="
        i == 0 || (i > 0 && solutionItems[i - 1].uiGroup !== solution.uiGroup)
      "
    >
      <div
        class="panel panel-primary"
        *ngIf="
          i == 0 || (i > 0 && solutionItems[i - 1].uiGroup !== solution.uiGroup)
        "
      >
        <div
          class="panel panel-primary"
          *ngIf="
            i == 0 ||
            (i > 0 && solutionItems[i - 1].uiGroup !== solution.uiGroup)
          "
        >
          <div
            class="panel-heading"
            *ngIf="
              i == 0 ||
              (i > 0 && solutionItems[i - 1].uiGroup !== solution.uiGroup)
            "
          >
            {{ solution.uiGroup }}
          </div>
          <div
            class="panel-body"
            *ngIf="
              i == 0 ||
              (i > 0 && solutionItems[i - 1].uiGroup !== solution.uiGroup)
            "
          ></div>
          <ng-container *ngFor="let solution2 of solutionItems; let z = index">
            <a
              *ngIf="solution2.uiGroup == solution.uiGroup"
              id="solution-{{ solution2.id }}"
              class="btn btn-default btn-md"
              style="width:120px;height:60px;"
              [title]="solution2.name + ' details'"
              [routerLink]="['/solutions', solution2.id]"
            >
              {{ solution2.sourceSystem }}
              <span id="percentage-{{ solution2.id }}"></span
            ></a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <ng-container>
    <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
  </ng-container></ng-container
>
